In [1]:
import pandas as pd

### Read data

In [2]:
weekly_testing_data = pd.read_excel("../data/raw_data/weekly_testing_data_EUEEAUK_2022-09-15.xlsx")

In [3]:
weekly_testing_data.head()

,country,country_code,year_week,level,region,region_name,new_cases,tests_done,population,testing_rate,positivity_rate,testing_data_source
0,Austria,AT,2020-W15,national,AT,Austria,1838.0,12339,8932664.0,138.133484,14.895859,Manual webscraping
1,Austria,AT,2020-W16,national,AT,Austria,684.0,58488,8932664.0,654.765476,1.169471,Manual webscraping
2,Austria,AT,2020-W17,national,AT,Austria,448.0,33443,8932664.0,374.389992,1.339593,Manual webscraping
3,Austria,AT,2020-W18,national,AT,Austria,312.0,26598,8932664.0,297.761116,1.173021,Country website
4,Austria,AT,2020-W19,national,AT,Austria,264.0,42153,8932664.0,471.897297,0.626290,Country website

### Extract relevant information

In [4]:
# filter out data for germany
germany_data = weekly_testing_data[weekly_testing_data["country"] == "Germany"]
# filter out non-national data
germany_data = germany_data[germany_data["level"] == "national"]
# filter out data we don't need
germany_data = germany_data[["year_week", "tests_done", "positivity_rate"]]
# make 2 rows out of year and week
def get_year(year_week):
    return int(year_week.split("-")[0])
def get_week(year_week):
    return int(year_week.split("-")[1][1:])
germany_data["year"] = germany_data["year_week"].apply(get_year)
germany_data["week"] = germany_data["year_week"].apply(get_week)
germany_data.drop("year_week", axis=1,inplace=True)
# 
germany_data["time"] = germany_data["year"] + germany_data["week"]/53

germany_data.head()

      tests_done  positivity_rate  year  week         time
5031       69493         1.300850  2020    10  2020.188679
5032      129291         4.977918  2020    11  2020.207547
5033      374534         5.981566  2020    12  2020.226415
5034      377599         8.996051  2020    13  2020.245283
5035      417646         8.632430  2020    14  2020.264151

### Remove bad values

In [5]:
# remove NaN values
germany_data = germany_data.dropna()
germany_data.head()

      tests_done  positivity_rate  year  week         time
5031       69493         1.300850  2020    10  2020.188679
5032      129291         4.977918  2020    11  2020.207547
5033      374534         5.981566  2020    12  2020.226415
5034      377599         8.996051  2020    13  2020.245283
5035      417646         8.632430  2020    14  2020.264151

### Save file

In [6]:
# save data to csv
germany_data.to_csv("../data/preprocessed_data/germany_weekly_testing_data.csv", index=False)